<p>agregar-producto works!</p>
<body>
     <h3>Agregar producto</h3>
     <div>
        <span>
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="producto.nombre" type="text" name="nombre">
        </span>
        <span>
            <label for="">Precio</label>
            <input type="number">
        </span>
        <span>
            <label for="">Precio Unitario</label>
            <input type="number">
        </span>
        <span>
            <label for="">Stock</label>
            <input type="number">
        </span>
        <span>
            <label for="">Categoria</label>
            <select *ngFor="let categoria of categorias" name="Categoria" id="">
                 <option  value="{{categoria.nombre_categoria}}"></option>
            </select>
        </span>
     </div>
</body>