<p>agregar-producto works!</p>
<body>
     <h3>Agregar producto</h3>
     <div>
        <span>
            <label for="nombre"></label>
            <input [(ngModel)]="producto.nombre" type="text" name="nombre">
        </span>
        <span>
            <label for=""></label>
            <input type="number">
        </span>
        <span>
            <label for=""></label>
            <input type="number">
        </span>
        <span>
            <label for=""></label>
            <input type="number">
        </span>
        <span>
            <label for=""></label>
            <input type="select">
        </span>
     </div>
</body>