*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-around;
      margin-bottom: 30px;
}
.agregar{
    position: relative;
    display: flex;
    justify-content: flex-end;
   
}

.btn-agregar{
    padding: 5px;
    margin-left: 30px;
    border-radius: 5px;
    border-color: rgb(74, 188, 74);
}

body{
    margin: 20px 10% 0px 10%;
    background-color: rgba(238, 238, 238, 0.7);
    border: 2px solid;
    backdrop-filter: blur(5px);
    border-radius: 2px;
    padding: 15px;
}
.btn-agregar:hover{
   background-color: rgb(74, 188, 74);
   transition: 0.3s;
   color: white;
}