<body>
    <h1>Control de stock</h1>
    <button class="agregar" [routerLink]="['/add']">agregar </button>
    <div>
        <table  class="table table-striped">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>PRECIO</th>
                    <th>STOCK</th>
                    <th>CATEGORIA</th>
                </tr>
            </thead>
            <!-- se usan los campos del ProductoDto que seria como ProductoResponse -->
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.stock}}</td>
                    <td>{{producto.categoria_id}}</td>
                    <button class="btn btn-warning">Editar</button>
                    <button class="btn btn-danger" (click)="eliminarProducto(producto.id)">Borrar</button>
                </tr>
            </tbody>
        </table>
    </div>
</body>